body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.error {
    color: red;
}

.success {
    color: green;
}

.payment-options {
    display: flex;
    justify-content: space-between;
}

.payment-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.payment-button:hover {
    background-color: #007bff;
}

.origheader {
    background-color: #007bff; /* Cool shade of blue */
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.origheader h1 {
    font-family: 'Arial Black', sans-serif; /* Cool font */
    color: #fff; /* White color */
    margin: 0;
}

.footer {
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
}

.origlogout,
.admin2userlogin {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}